#AboutUs{
    width: 100%;
    min-height: 100vh;
    background: #444;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    @include Media(sm){
        .AboutUs_heading{
            h1{
                font-size: 5rem !important;
            }
        }
        .AboutUs_Video_Text {
            .video_text {
                padding: 7rem 0rem !important;
                .text{
                    font-size: 2rem !important;
                    
                    width: 100%;

                }
                .icon_left,
                .icon_right{
                    font-size: 2rem !important;
                }
            }
        }
        
    }
    @include Media(xl){
      
       .AboutUs_heading
       {
           padding-left: 0 !important;
           margin-bottom: 10rem;
           margin-top: 10rem;
           text-align: center;
           h1{
            &:after{
                height: 3rem;
                right: 0% !important;
                top: 120% !important;
                width: 100% !important;
            }
        }
       }
       .AboutUs_Video_Text{
           padding: 1rem 2rem !important;
           flex: 1 1 70rem !important;
           .video_section{
               width: 90%;
               margin-left: 5%;
               .video{
                width: 100% ;  
            }
            
            .play_btn
            ,.pause_btn{
                font-size: 5rem !important;
                padding: 1rem;
            }
            
           }
           .video_text{
              width: 90%;
              margin-left: 5%;
              .icon_left{
                  left: 0 !important;
              }
           }
           
       }
    }
    
    
   .AboutUs_heading{
       flex: 1 1 70rem;
       padding-left: 5rem;
       h1{
           font-size: 10rem;
           position: relative;
           padding: 1rem;
           display: inline;
           &:after{
               position:absolute;
               content: "";
               width:80%;
               height: 5px;
               background: #fff;
               top: 30%;
               right: -90%;
           }
       }
   }
   .AboutUs_Video_Text{
       flex: 1 1 50rem; 
       height: 100%;
       padding-top: 5rem;
       padding-right: 5rem;
     .video_section{
         position: relative;
         overflow: hidden;
         &:hover .play_section{
            bottom: 0%;
            transition: bottom 0.5s ease;
        }
        
        .video{
            width: 100%;
        }
        .play_section{
            transition: bottom 0.5s ease;
            background: rgba(0,0,0,0.5);
            position: absolute;
            bottom: -100%;
            left: 0;
            width: 100%;
            padding: 1rem 2rem;
            @include Media(xl){
                bottom: 0% !important;
                .play_btn
            ,.pause_btn{
                font-size: 2.5rem !important;
                padding: 1rem 0 0 !important;
            }
            }
            .pause_btn{
                display: none;
            }
            .play_btn
            ,.pause_btn{
                font-size: 3rem;
                cursor: pointer;
            }
            .video_progress_1{
                position: absolute;
                width: 100%;
                height: 6px;
                background: #000;
                top: 0;
                left: 0;    
            }
            .video_progress_2{
                content: "";
                    position:absolute;
                    left: 0;
                    top: 0;
                    width: 0%;
                    height: 6px;
                    background:violet;
            }
        }
       
     }
       .video_text{
        position: relative;
        padding:12rem 3rem;
        .text{
            font-size: 3rem;
        }
        .icon_left,
        .icon_right{
            position: absolute;
            font-size: 5rem;
        }
        .icon_left{
            left: -3%;
            top: 10%;
        }
        .icon_right{
            bottom: 10%;
            right: 3%;
        }
       }
     
     
       
   }
}