#Conatct{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(41, 40, 40);
    @include DisplayFlex(row,center,center);
    flex-wrap: wrap;
    padding: 5rem 5rem 3rem;
    @include Media (xl){
        .Conatct_heading{
            text-align: center;
            margin-bottom: 10rem;
            h1{
               
                &::after{
                       width: 100% !important;
                       top: 120% !important;
                       right: 0% !important;
                }
            }
        }
        .Inputs{
            margin-bottom: 5rem;
            .Inputs_heading{
                margin-top: 10rem;
            }
        }
    }
    .Conatct_heading{
        flex: 1 1 70rem;
        h1{
            font-size: 10rem;
            color: #fff;
            position: relative;
            display: inline-block;
            padding: 1rem 2rem;
            &::after{
                   position: absolute;
                   content: "";
                   width: 70%;
                   height: 7px;
                   background-color: #fff;
                   top: 50%;
                   right: -70%;
                   border-radius: 7px;
            }
        }
    }
    .Conatct_input_icon{
        flex:2 1 70rem;
         .icons{
             @include DisplayFlex(row,flex-start,space-evenly);
             margin-bottom: 5rem;
             flex-wrap: wrap;
             @include Media (md){
                 .Email{
                     margin:5rem auto 2rem;
                 }
             }
             @include Media (sm){
                .icon_item{
                    margin:1rem;
                }
             }
             .icon_item{
                 flex: 1 1 20rem;
                 @include DisplayFlex(column,center,flex-start);
                 width: 200px;
                 height: 200px;
                 color: #fff;
                 padding: 1rem;
                 
                 a{
                     color: #fff;
                 }
                 i{
                     font-size: 5rem;
                     color: rgb(131, 13, 13);
                     margin-bottom: 3rem;

                 }
                 .icon_head{
                     font-size: 3rem;
                     text-transform: uppercase;
                     font-weight: 800;
                     margin-bottom: 2rem;
                 }
                 .Phone_Num_1{
                    font-size: 2rem;
                    margin-bottom: 1rem;
                 }
                 .Phone_Num_2,
                 .Location_address,
                 .Email_link{
                    font-size: 2rem;
                   
                    
                 }
                 .Email_link{
                    word-break: break-all;
                    width: 95%;
                    text-align: center;
                    margin-top: 1.5rem;

                 }
                 .Location_address
                 {
                    justify-self: flex-end;
                    margin-top: 2.5rem;
                 }
                 
             }
         }
         .Inputs{
             .Inputs_heading{
                 color: #fff;
                 font-size: 5rem;
                 text-transform: uppercase;
                 text-align: center;
                 margin-bottom: 5rem;
             }
             .MyForm{
                
                  @include DisplayFlex(column,center,flex-start);
                  .input{
                      width: 80%;
                      height: 5rem;
                      margin: 1rem;
                      padding: 1rem;
                      font-size: 2rem;
                  }
                  #Massage{
                    width: 80%;
                    height: 20rem;
                    resize: none;
                    padding: 3rem 2rem;
                    font-size: 2.5rem;
                    color: #444;
                    margin-top: 1rem;
                    margin-bottom: 3rem;
                  }
                  .Btn_submit{
                      width: 80%;
                      font-size: 3rem;
                      text-transform: uppercase;
                      color: #fff;
                      background-color: rgb(160, 27, 27);
                      padding: 1.5rem 3rem;
                      outline: none;
                      border-color: rgb(160, 27, 27);
                      cursor: pointer;
                      
                  }
                

             }
         }
    }
}