#Pricing{
    width: 100%;
    min-height: 100vh;
    background: #000;
    flex-wrap: wrap;
    @include DisplayFlex(row,center,space-between);
    @include Media (xl){
        padding-top: 5rem;
        .Pricing_Heading{
            text-align: center !important;
            margin-bottom: 10rem;
            h1{
                &::after{
                    top: 120% !important;
                    right:0% !important;
                    width: 100% !important;
                }
            }
        }
        .swiper-container{
            margin: 3rem auto 15rem !important;
        }
    }

       
        
        
    .Pricing_Heading{
        flex: 1 1 70rem;
        color: white;
        padding-left: 5rem;
        h1{
            font-size: 10rem;
            position: relative;
            display: inline-block;
            padding: 1rem 2rem;
            &::after{
                content: "";
                position: absolute;
                width: 90%;
                height: 5px;
                background: #fff;
                top: 50%;
                right: -100%;
                border-radius: 10px;
            }
        }
    }
    .swiper-container{
        width: 100%;
        z-index: 0;
        padding: 5rem 0;
        flex: 2 1 70rem;
        .swiper-slide,
        .swiper_1{
            width: 300px;
            height: 500px;
            background: #181b1d;
            background-position: center;
             background-size: cover; 
        }
    }
    
}