.Card_premium{
    .Card_inner{
        &_header{
            background: linear-gradient(to right, #0b7e48, #3be286);
        }
       
        .Pricing_card_items{
           
            color: #0da5d3;
            
            
        }
        .Btn_Choose{
            
            background: linear-gradient(to right, #0b7e48, #3be286);
        }

    }
}