.Card_standard{
    .Card_inner{
        &_header{
            background: linear-gradient(to right, #a10c14, #e23b3b);
        }
       
        .Pricing_card_items{
           
            color: #0da5d3;
            
            
        }
        .Btn_Choose{
            
            background: linear-gradient(to right, #a10c14, #e23b3b);
        }

    }
}